<!-- All configuration files have the HAP root node -->
<HAP>
	<!-- All configuration files have the Module -->
	<Module>
		<Logging console="true" file="true">
			<Level>Info</Level>
		</Logging>
	</Module>
	<!-- Modules with more configuration options than those in the Module element appdens them here -->
</HAP>